spring:
  datasource:
    url: jdbc:mysql://localhost:3306/payroll_db?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # automatically create/update tables
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: true

  sql:
    init:
      mode: always
  mail:
    host: smtp.gmail.com
    port: 587
    username: karandevkate225@gmail.com
    password: ehpucfzevcyqdwuy
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
# Optional: server port
server:
  port: 8080
